.skillscontainer{
    max-width: 1180px;
    background-color:#CDCDCD ;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 8rem;
}
.skills {
  max-width: 1180px;
  margin: 0 auto;
}

.skill{
    color: #242038;
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.2rem;
    transition: all 0.3s;
}

icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h3{
    font-size: 1rem;
    font-weight: 600;
    color: #242038;
    text-align: center;
    font-family: roboto;
    font-weight: 400;
}

.p{
    font-size: 3rem;
    color: #242038;
    text-align: center;
    font-family: sans-serif;
}

.h2{
    font-family: 'Bodoni Moda';
    font-size: 48px;
    font-weight: 700;
    display: inline-block;
    color: #242038;
        
    
    }
    
    
    @media(max-width: 900px) {
        .h1{
            font-size: 32px;
            margin-top: 150px;
        }
    }



@media(max-width: 1340px) {
.skills {
    max-width: 1100px;
}
}

@media(max-width: 1240px) {
.skills {
    padding: 0 6rem;
}
}

@media(max-width: 600px) {
.skills {
    padding: 0 3rem;
}
}

@media(max-width: 600px) {
.skills {
    padding: 0 2rem;
}
}

