.navigation {

    background-color: transparent;
    padding : 20px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

    }

    .logo{
        font-size: 24px;
        font-family: Bodonimoda;
    }

    svg {

        color: #fff;
        font-size : 30px;
        cursor: pointer;
        
        &:hover {
            color : rgb(207, 207, 207);
        }

    }
    .nav {

        display : none;

        &.open {
            display: block;
        }

    }

    a {
        color : white;
        text-decoration: none;
        margin : 0 5px;

        &:hover {
            text-decoration: underline;
        }
    }

    
}