.header{
    height: 100vh;
    color: #eeeeee;
    overflow-x: hidden;
  background-image: url(/public/yihan-wang-4teb0ryKW3M-unsplash-2.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.headertextboxrow{
    max-width: 1180px;
    margin: 0 auto;

}

@media(max-width: 1340px) {
.headertextboxrow {
    max-width: 1100px;
}
}

@media(max-width: 1240px) {
.headertextboxrow {
    padding: 0 6rem;
}
}

@media(max-width: 600px) {
.headertextboxrow {
    padding: 0 3rem;
}
}

@media(max-width: 600px) {
.headertextboxrow {
    padding: 0 2rem;
}
}

.h1{
font-family: 'Bodoni Moda';
font-size: 48px;
font-weight: 700;
margin-top: 200px;    
display: inline-block;
    

}


@media(max-width: 900px) {
    .h1{
        font-size: 32px;
        margin-top: 150px;
    }

    .pfp{
        display: none;
    }
}

.btncontact{
background-color: transparent;
background-color:#242038;
color: #CDCDCD;
padding: 10px 20px;
text-decoration: none;
font-weight: 600;
margin-top: 20px;
border: none;

&:hover{
    background-color: #CDCDCD;
    color: #242038;
    transition: 1s;
}
}

.imagecontainer{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 25%;
}

.pfp{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: none;
}

@media(max-width: 600px) {
    .imagecontainer{
        top: 80%;
        left: 25%;
    }

    .pfp{
        width: 200px;
        height: 200px;
    }
}